h1{
    text-align: center;
    color: crimson;
}
div.contenedor{
    border: 3px dashed greenyellow;
    width: 30%;
    height: 100px;
    margin: 10px;
    /* overflow: visible;
    overflow: hidden;
    overflow: scroll; */
    overflow: auto;  
    float: left;
}

